# Ignore everything
/*

# But not these files
!/.gitignore
!/README.md

# And not dot files
!/.*

# Even if they are in subdirectories
# !*/

# if the files to be tracked are in subdirectories
!*/a/b/file1.txt
!*/a/b/c/*

# But do still ignore these dot files:
.ssh
.bash_history
.bash_logout
.aws
.sudo_as_admin_successful
.viminfo
.motd_shown
.landscape
.nvm
.cache/
.config/
.gem/
.npm/
.vscode-server/
.wget-hsts
.vscode/
.bundle/
.vim/
.boto
.lesshst
.python_history
.test
.ipython/
.vscode-server-server/
