.ssh
.bashrc
.bash_history
.bash_logout
.aws
.sudo_as_admin_successful
.viminfo
.motd_shown
.landscape
.nvm
gems/
projects/
.cache/
.config/
.gem/
.npm/
.vscode-server/
.wget-hsts
.vscode/
.bundle/
.vim/
